@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
	--color-te-gray: #c7c3c0;
	--color-te-dark: #545251;
	--color-te-red: #d42a02;
	--color-te-orange: #fb702c;
}

html,
body,
#root {
	font-family: "Space Grotesk", "Helvetica Neue", sans-serif;
}

/* Custom shadows for the EP-133 feel */
.shadow-te-button {
	box-shadow:
		10px 10px 8px rgba(0, 0, 0, 0.38),
		inset 1.5px 1.5px 2px #ffffff,
		inset -3.2px -3.2px 8px #c7c3c0;
}
.shadow-te-button-active {
	box-shadow:
		0px 0px 0px rgba(0, 0, 0, 0),
		inset 0.5px 0.5px 4px #000000,
		inset -3.2px -3.2px 8px #c7c3c0;
}
.shadow-te-red-button {
	box-shadow:
		10px 10px 8px rgba(0, 0, 0, 0.38),
		inset 2px 2px 10px #fb702c,
		inset -4px -4px 1px #d42a02;
}

/* Block copy/select behavior to avoid accidental mobile text selection during drags/taps */
*,
*::before,
*::after {
	-webkit-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
}

img,
svg {
	-webkit-user-drag: none;
	user-drag: none;
}
